@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    box-sizing: border-box;   
}

.chat-header{
    /* padding: 8px; */
    /* margin-bottom: 8px; */
    margin-top: 10px;
    align-items: right;
    margin-left: 10px;
    display: flex;
    flex-direction: column;
}

/* .chat-header img{
    display: flex;
    flex-direction: row;
    align-items: center;
    z-index: 1;
    height: 40px;
    width: 40px;
} */

.chat-header h1{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 5px; 
    /* padding-left: 10px;
    padding-bottom: 10px; */
}

.chat-header h2{
    font-size: 10px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #757575;
    margin-left: 10px;
}

span{
    color: white;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: right;
    z-index: 1;
}

.delete-all-messages i{
    color: red;
}

.delete-all-messages button{
    border: none;
    margin-left: 10px;
};